nav {
  height: 80px;

  .container {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .item-select {
    display: flex;
    align-items: center;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: center;

    .icons {
      display: flex;
      gap: 15px;
      color: #777;
      cursor: pointer;

      .cartIcon {
        position: relative;
        span {
          position: absolute;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #2879fe;
          color: #f1f1f1;
          top: -10px;
          right: -10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .center {
    font-size: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
}
