section.slider {
  height: calc(100vh - 80px);
  width: 100%;
  min-height: 600px;
  position: relative;
  overflow: hidden;
}

section.slider .container {
  width: 300dvw;
  height: 100%;
  display: flex;
  transition: all 0.8s ease;
}

section.slider .container img {
  width: 100dvw;
  height: 100%;
  object-fit: cover;
}

section.slider .navigation {
  position: absolute;
  width: fit-content;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  display: flex;
}

section.slider .navigation .icon > * {
  font-size: 2.4rem;
  color: #fff;
  opacity: 0.6;
  mix-blend-mode: difference;
  cursor: pointer;
}
